:root {
	--clr-red: #F87070;
	--clr-cyan: #70F3F8;
	--clr-purple: #D881F8;
	--clr-white-blue: #FFF6D7;
	--clr-dark-blue: #1E213F;
	--clr-white: #FFFFFF;
	--clr-gray: #EFF1FA;
	--clr-dark-gunmetal: #161932;
}